extends ../layout

block content
  .container
    h1.page-header 숙소 예약 및 등록
    
 
    table.table.table-bordered
      thead
        tr
      
          th 제목
          th 날짜
          th 조회수
          th
      tbody
        each post in posts
          tr
        
            td
              a(href='/posts/#{post.id}')= post.title
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td
              a.btn.btn-xs.btn-default(href='/posts/#{post.id}/edit') 수정
              | 
              a.btn.btn-xs.btn-default(data-id=post.id, class='delete') 삭제

    a.btn.btn-primary(href='/posts/new') 글쓰기

   
